.page-hero {
    padding: 60px 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.page-hero h1 {
    margin-bottom: 10px;
}

.gallery-section {
    padding: 40px 20px 60px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.gallery-item {
	background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #333333;
}

.gallery-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(77, 159, 255, 0.2);
}

.gallery-item img {
	width: 100%;
    display: block;
}

.hori {
	position: relative;
	left: 20px;
}

.item-info {
    text-align: center;
}

.item-info h3 {
    font-size: 1.5rem;
}

.item-info p {
    color: #99c2ff;
    font-size: 1rem;
	margin-bottom: 5px;
}

@media (max-width: 768px) {
    .gallery-grid {
        grid-template-columns: 1fr;
    }
}
