body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato';
    color: #4d9fff;
    line-height: 1.6;
	background-image: url('../img/festival-image-1.jpg');
	background-repeat: no-repeat;
	background-color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    font-family: 'Bebas Neue';
    color: #80bfff;
}

h1 { font-size: 4rem; }
h2 { font-size: 2.5rem; margin-bottom: 20px; }

a {
    color: #99c2ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
	font-size: 24px;
}

.main-header {
    background-color: #000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #4d9fff;
}

.logo {
    width: 5%;
	padding-top: 0.7em;
	
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav li {
    margin-left: 20px;
}

.main-nav a {
    font-weight: bold;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.main-nav a.active, .main-nav a:hover {
    background-color: #4d9fff;
    color: #000000;
    text-decoration: none;
}

.info-section {
    padding: 40px 20px;
}

.info-section .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
	background-color: rgba(0, 0, 0, 0.8);
}

.info-column ul {
    list-style: none;
}

.info-column ul li {
    margin-bottom: 10px;
	font-size: 24px;
}

.reviews-section {
    padding: 60px 20px;
    text-align: center;
    overflow: hidden;
}

.reviews-header {
	background-color: rgba(0, 0, 0, 0.9);
}

.reviews-container {
    display: flex;
    gap: 20px;
    overflow: hidden;
    height: fit-content;
    padding-bottom: 7.5em;
}


.reviews-track {
    display: flex;
    gap: 20px;
    animation: scroll 25s linear infinite;
}

.review-card {
    min-width: 300px;
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    text-align: left;
    border: 1px solid #333333;
}

.review-card p {
    margin-bottom: 15px;
}

.review-card cite {
    font-weight: bold;
    color: #99c2ff;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

footer {
    background-color: #000;
    color: #4d9fff;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #4d9fff;
}

@media (max-width: 768px) {
    .main-header {
        flex-direction: column;
        gap: 10px;
    }

    h1 { font-size: 3rem; }
    h2 { font-size: 2rem; }

    .info-section .container {
        grid-template-columns: 1fr;
    }
}
